@import "tailwindcss";

:root {
  --font-roboto: "Roboto", sans-serif;
}

html,
body {
  font-family: var(--font-roboto);
}

.logo-color {
  color: #f13a01;
}
.logo-bg {
  background-color: #f13a01;
}

.hero {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  @apply border p-2 border-gray-300 bg-gray-200;
}
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-300 cursor-not-allowed;
}
button {
  @apply w-full text-white font-semibold border border-gray-500 rounded-xl px-6 py-2 hover:scale-105 transition ease-in-out duration-300;
}

button[type="submit"],
.submit {
  @apply border-0  text-white;
}
button[type="submit"]:disabled,
.submit:disabled {
  @apply cursor-not-allowed bg-red-400;
}
